body{
    
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    border-left: 5px  solid;
    border-image-slice: 1;
    border-left-color: tomato;
    padding-inline: 15px;
    
}
h3{
    font-weight: 150px;
}
span{
    color: orange;
}
.link-button{
    font-size: 12px;
    text-decoration: none;
    background-color: tomato;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
}
.flexible-container{
    display:flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.left-side{
    padding-top: 5%;
}
.half-width img{
    width: 60%;
}