body{
  margin:0;  
font-family: 'Poppins', sans-serif;
}

.border-style{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    border-left: 5px  solid;

    border-image-slice: 1;
    border-left-color: rgb(12, 177, 177);
    padding-inline: 15px;
}
h3{
    font-weight: 150px;
}
span{
    color: rgb(175, 66, 218);
}
.link-button{
    font-size: 12px;
    text-decoration: none;
    background-color: rgb(12, 177, 177);;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
}
.flexible-container{
    display:flex;
    margin-bottom: 10px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
    margin-right: 100px;
    margin-bottom: 20px;
    
}
 .half-width img{
    width: 60%;
}
.image-position{
    padding-top: 5px;
}    
.my-mission{
    text-align: center;
    font-size: 35px;
}
.mission-parts{
    padding-left: 15px;
    
    float: left;
    width: 25%;
    height: 350px;
    padding-top: 20px;
    text-align:start ;
    margin-left: 40px;
    border-radius: 15px;
}
.mission-parts img{
    width: 35%;
}
.left{
    margin-left: 120px;
}
.first{
    background-color: wheat;
}
.second{
    background-color: rgb(247, 222, 247);
}
.third{
    background-color: rgb(201, 218, 167);
}
footer{
    height: 140px;
    background-color: rgb(34, 33, 33);
    text-align: center;
}

footer h2{
    padding-top: 20px;
    color: hsl(0, 0%, 100%);
    font-size: 35px;
    font-family: 'Italianno', cursive;
}
footer span{
    color: rgb(231, 67, 38);
}
.footer-color{
    color: white;
}